$font-size: 17px;
$font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;

@import 'vcss.scss';
@import 'prism.scss';

body {
  color: #28143c;
}

main {
  padding: 5rem 0 1rem;
  max-width: 600px;
}

form button ~ a,
nav a {
  margin-left: 0.5rem;
}

body > header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  opacity: 0.9;
  padding: 1rem;
  margin: 0;
  nav {
    max-width: 750px;
    margin: 0 auto;
    a {
      margin: 0 0.5rem;
    }
  }
}

a.active {
  text-decoration: underline;
}

a.navbar-logo {
  text-decoration: none;
  img {
    max-height: 30px;
  }
}

#flash {
  text-align: center;
  padding: 0.5rem;
  background: $highlight;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  &:first-letter {
    text-transform: uppercase;
  }
  &:empty {
    display: none;
  }
}

footer {
  color: #666;
  font-size: 95%;
}

.flex {
  display: flex;
  align-items: center;
  :first-child {
    flex-grow: 1;
  }
}

.list {
  border-bottom: 1px solid $light;
  padding: 1rem 0;
}
